extends base

block content
  div 
    video(src="/"+video.fileUrl, controls)
  div
    p=video.description
    small=video.createdAt 
  div 
    small 
      a(href=`/user/${video.owner._id}`) #{video.owner.name}'S VIDEO
  if String(loggedInUser._id) === String(video.owner._id)
    a(href=`${video.id}/edit`) EDIT &rarr;
    br
    a(href=`${video.id}/delete`) DELETE &rarr;
